<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <title>LiMi Day view</title>
</head>
<body>
    <div class="content">
        <nav>
            <div class="views-nav">
                <button>Day</button>
                <button>Week</button>
                <button>Month</button>
            </div>
            <div class="day-week-month-nav">
                <button> < </button>
                <p>Monday</p>
                <button> > </button>
            </div>
        </nav>
        <div class="calnedar-content">
            <table>
                <tr>
                    <td class="hours">0:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">1:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">2:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">3:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">4:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">5:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">6:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">7:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">8:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">9:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">10:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">11:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">12:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">13:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">14:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">15:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">16:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">17:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">18:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">19:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">20:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">21:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">22:00</td>
                    <td>empty</td>
                </tr>
                <tr>
                    <td class="hours">23:00</td>
                    <td>empty</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="sidebar-nav">
        <button>Create new event</button>
        <div class="event-type">
            <input type="checkbox" id="Sports" name="Sports" checked>
            <label for="Sports">Sports</label>
            <input type="checkbox" id="Work/School" name="Work/School" checked>
            <label for="Work/School">Work/School</label>
            <input type="checkbox" id="House" name="House" checked>
            <label for="House">House</label>
            <input type="checkbox" id="Social" name="Social" checked>
            <label for="Social">Social</label>
            <input type="checkbox" id="Errands" name="Errands" checked>
            <label for="Errands">Errands</label>
        </div>
        <div class="people">
            <input type="checkbox" id="Person1" name="Person" checked>
            <label for="Person1">Aleksandra</label>
            <input type="checkbox" id="Person2" name="Person" checked>
            <label for="Person2">Aleks</label>
            <input type="checkbox" id="Person3" name="Person" checked>
            <label for="Person3">Hanna</label>
            <input type="checkbox" id="Person4" name="Person" checked>
            <label for="Person4">Dawid</label>
        </div>
        <button>Log out</button>
    </div>
</body>