<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <link rel="stylesheet" type="text/css" href="../css/Montserrat.css">
    <script src="https://kit.fontawesome.com/79d7c5829a.js" crossorigin="anonymous"></script>
    <title>Day by Limi</title>
</head>
<body>
    <div class="sidebar-nav">
        <form class="new-event-form" id="form">
            <h2>Add new event!</h2>
            <input name="event-name" type="text" />
            <div>
                <label for="category">Category</label><br>
                <select name="categories" id="category">
                    <option value="sports" class="sports">Sports</option>
                    <option value="work-school" class="work-school">Work/School</option>
                    <option value="home" class="home">Home</option>
                    <option value="social" class="social">Social</option>
                    <option value="Errands" class="errands">Errands</option>
                </select>
            </div>
            <p>Choose date and time</p>
            <input type="text" />
        </form>
        <button class="create-new-event" id="create-new-event-button">Create new event</button>
        <div class="events">
            <label for="Sports"><input type="checkbox" class="checkbox-event sports" id="Sports" name="Sports" checked>Sports</label>
            <label for="Work/School"><input type="checkbox" class="checkbox-event work-school" id="Work/School"
                                        name="Work/School" checked>Work/School</label>
            <label for="House"><input type="checkbox" class="checkbox-event home" id="House" name="House" checked>Home</label>
            <label for="Social"><input type="checkbox" class="checkbox-event social" id="Social" name="Social" checked>Social</label>
            <label for="Errands"><input type="checkbox" class="checkbox-event errands" id="Errands" name="Errands"
                                    checked>Errands</label>
        </div>
        <div class="events">
            <label for="Person1"><input type="checkbox" class="checkbox-person" id="Person1" name="Person" checked>Aleksandra</label>
            <label for="Person2"><input type="checkbox" class="checkbox-person" id="Person2" name="Person"
                                    checked>Aleks</label>
            <label for="Person3"><input type="checkbox" class="checkbox-person" id="Person3" name="Person"
                                    checked>Hanna</label>
            <label for="Person4"><input type="checkbox" class="checkbox-person" id="Person4" name="Person"
                                    checked>Dawid</label>
        </div>
        <button>Log out</button>
    </div>
    <main>
        <header>
            <nav class="header-with-days-of-the-week">
                <div class="views-nav">
                    <a href="day.html" class="day-week-month-nav">Day</a>
                    <a href="week.html" class="day-week-month-nav">Week</a>
                    <a href="month.html" class="day-week-month-nav">Month</a>
                </div>
                <div class="change-date push-right">
                    <div class="nav-arrows prev-day-btn"><i class="fa-solid fa-chevron-left"></i></div>
                    <div class="day-with-date day"></div>
                    <div class="nav-arrows next-day-btn"><i class="fa-solid fa-chevron-right"></i></div>
                </div>
            </nav>
        </header>
        <section class="calendar-with-timeline-container">
            <div class="timeline">
            </div>
            <div class="day-grid-tiles">
            </div>
        </section>
    </main>
    <script src="../JS/day.js"></script>
    <script src="../JS/createNewEvent.js"></script>
</body>
