<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Welcome to LiMi! Login page</title>
</head>
<body>
    <div class="login-left-side">
        <img id="logo" src="../img/logo-no-background.svg" alt="LiMi logo">
        <form>
            <span class="material-symbols-outlined">person</span>
            <input class="login-input" name="email" type="text" placeholder="email@email.com">
            <input class="login-input"name="password" type="password" placeholder="password">
            <div class="login-button-container">
                <button>Sign In</button>
                <button id="sign-up-button">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="login-right-side">
        <img id="dogs-image" src="../img/BeFunky-collage.jpg" alt="Happy Shih Tzu (dog)">
    </div>
</body>