<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/login_logout.css">
    <title>See you soon!</title>
</head>
<body>
    <div class="login-left-side">
        <img class="logo" src="../img/logo-no-background.svg" alt="LiMi logo">
        <a>We hope to see you soon!</a>
        <button>Sign in</button>
    </div>
    <div class="login-right-side">
        <img id="pug-image" src="../img/matthew-henry-n5vuEc86Zg8-unsplash.jpg" alt="Pug in a blanket">
    </div>
</body>