<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <title>LiMi Month view</title>
    <div class="sidebar-nav">
        <button>Create new event</button>
        <div class="event-type">
            <input type="checkbox" id="Sports" name="Sports" checked>
            <label for="Sports">Sports</label>
            <input type="checkbox" id="Work/School" name="Work/School" checked>
            <label for="Work/School">Work/School</label>
            <input type="checkbox" id="House" name="House" checked>
            <label for="House">House</label>
            <input type="checkbox" id="Social" name="Social" checked>
            <label for="Social">Social</label>
            <input type="checkbox" id="Errands" name="Errands" checked>
            <label for="Errands">Errands</label>
        </div>
        <div class="people">
            <input type="checkbox" id="Person1" name="Person" checked>
            <label for="Person1">Aleksandra</label>
            <input type="checkbox" id="Person2" name="Person" checked>
            <label for="Person2">Aleks</label>
            <input type="checkbox" id="Person3" name="Person" checked>
            <label for="Person3">Hanna</label>
            <input type="checkbox" id="Person4" name="Person" checked>
            <label for="Person4">Dawid</label>
        </div>
        <button>Log out</button>
    </div>
</head>
<body>
<nav>
    <button>Day</button>
    <button>Week</button>
    <button>Month</button>
    <button> < </button>
    <p>Monday<p>
    <button> > </button>
</nav>
</body>