<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/calendar.css">
    <link rel="stylesheet" type="text/css" href="../css/Montserrat.css">
    <script src="https://kit.fontawesome.com/79d7c5829a.js" crossorigin="anonymous"></script>
    <title>Month by Limi</title>
</head>
<body>
<div class="sidebar-nav">
    <button id="create-new-event-button">Create new event</button>
    <div class="events">
        <label for="Sports"><input type="checkbox" class="checkbox-event" id="sports" id="Sports" name="Sports" checked>Sports</label>
        <label for="Work/School"><input type="checkbox" class="checkbox-event" id="work-school" id="Work/School"
                                        name="Work/School" checked>Work/School</label>
        <label for="House"><input type="checkbox" class="checkbox-event" id="house" id="House" name="House" checked>House</label>
        <label for="Social"><input type="checkbox" class="checkbox-event" id="social" id="Social" name="Social" checked>Social</label>
        <label for="Errands"><input type="checkbox" class="checkbox-event" id="errands" id="Errands" name="Errands"
                                    checked>Errands</label>
    </div>
    <div class="events">
        <label for="Person1"><input type="checkbox" class="checkbox-person" id="Person1" name="Person" checked>Aleksandra</label>
        <label for="Person2"><input type="checkbox" class="checkbox-person" id="Person2" name="Person"
                                    checked>Aleks</label>
        <label for="Person3"><input type="checkbox" class="checkbox-person" id="Person3" name="Person"
                                    checked>Hanna</label>
        <label for="Person4"><input type="checkbox" class="checkbox-person" id="Person4" name="Person"
                                    checked>Dawid</label>
    </div>
    <button>Log out</button>
</div>
<main>
    <header>
        <nav class="header-with-days-of-the-week">
            <div class="views-nav">
                <a class="day-week-month-nav">Day</a>
                <a class="day-week-month-nav">Week</a>
                <a class="day-week-month-nav">Month</a>
            </div>
            <div class="change-date push-right">
                <a class="nav-arrows"><i class="fa-solid fa-chevron-left"></i></a>
                <p>22.05.2023 - 28.05.2023</p>
                <a class="nav-arrows"><i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </nav>
        <div class="days-of-the-week">
            <div class="day-of-the-week">Monday</div>
            <div class="day-of-the-week">Tuesday</div>
            <div class="day-of-the-week">Wednesday</div>
            <div class="day-of-the-week">Thursday</div>
            <div class="day-of-the-week">Friday</div>
            <div class="day-of-the-week">Saturday</div>
            <div class="day-of-the-week">Sunday</div>
        </div>
    </header>
    <section class="month-calendar-container">
        <div class="month-grid-tile"><div class="num-of-the-day">1</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">2</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">3</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">4</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">5</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">6</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">7</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">8</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">9</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">10</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">11</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">12</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">13</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">14</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">15</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">16</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">17</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">18</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">19</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">20</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">21</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">22</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">23</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">24</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">25</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">26</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">27</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">28</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">29</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">30</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day">31</div></div>
        <div class="month-grid-tile"><div class="num-of-the-day"></div></div>
        <div class="month-grid-tile"><div class="num-of-the-day"></div></div>
        <div class="month-grid-tile"><div class="num-of-the-day"></div></div>
        <div class="month-grid-tile"><div class="num-of-the-day"></div></div>
    </section>
</main>
</body>