* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monteserrat", sans-serif;
}

body {
    background-color: #E2ECEA;
    position: absolute;
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    min-width: 200vh;
    min-height: 100vh;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px 20px;
    gap: 40px;
    float: right;
    width: 20%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.05);
}

main {
    width: 80%;
    padding: 0px 10px;
    float: left;
}

header {

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 5px 0px;
}

.push-right {
    margin-right: 40%;
    margin-left: auto;
}

.views-nav {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
}

.day-week-month-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    width: 5em;
    height: 2.5em;
    background: #FFFFFF;
    color: #303030;
    cursor: pointer;
}

.content-nav {
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    box-sizing: border-box;
    width: 30px;
    height: 40px;
    min-width: 30%;
    background: rgba(4, 99, 128, 0.95);
    color: #F7F7F5;
    border: 1px solid #046380;
    border-radius: 4px;
    cursor: pointer;
}

#create-new-event-button {
    width: 100px;
    height: 60px;
    font-weight: 500;
}

.calnedar-content {
    overflow: scroll;
}

table {
    width: 100%;
    height: 150em;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.checkbox-person {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkbox-event {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#sports {
    border: 2px solid #FF99B7;
}

#sports:checked {
    border: 2px solid #FF99B7;
    background-color: #FF99B7;
}

#work-school {
    border: 2px solid #AEC3FF;
}

#work-school:checked {
    border: 2px solid #AEC3FF;
    background-color: #AEC3FF;
}

#house {
    border: 2px solid #C6B9DF;
}

#house:checked {
    border: 2px solid #C6B9DF;
    background-color: #C6B9DF;
}

#social {
    border: 2px solid #82CD47;
}

#social:checked {
    border: 2px solid #82CD47;
    background-color: #82CD47;
}

#errands {
    border: 2px solid #FFEA20;
}

#errands:checked {
    border: 2px solid #FFEA20;
    background-color: #FFEA20;
}