* {
    box-sizing: border-box;
    font-family: "Monteserrat", sans-serif;
}

body {
    background-color: #E2ECEA;
    position: absolute;
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px 20px;
    gap: 40px;
    float: right;
    width: 20%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.05);
}

main {
    width: 80%;
    height: 100%;
    padding: 10px 10px;
    float: left;
}

header {
    height: 12%;
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 10px;
}

.push-right {
    margin-right: 40%;
    margin-left: auto;
}

.views-nav {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
}

.day-week-month-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    width: 5em;
    height: 2.5em;
    background: #FFFFFF;
    color: #303030;
    cursor: pointer;
}

.content-nav {
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    box-sizing: border-box;
    width: 30px;
    height: 40px;
    min-width: 30%;
    background: rgba(4, 99, 128, 0.95);
    color: #F7F7F5;
    border: 1px solid #046380;
    border-radius: 4px;
    cursor: pointer;
}

#create-new-event-button {
    width: 100px;
    height: 60px;
    font-weight: 500;
}

.day-view-container {
    box-sizing: border-box;
    height: 88%;
    display: grid;
    grid-template: 1fr / 1fr 17fr;
    border-radius: 10px;
    row-gap: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #E2ECEA  #FFFFFF;
}

.timeline {
    display: grid;
    grid-template: repeat(24, 50px) / 1fr;
    background-color: #FFFFFF;
}

#timeline-day-view {
    grid-column: 1 / span 1;
    grid-row: 1 / 25;
}

.hours {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.day-grid-tiles {
    grid-column: 2 / span 1;
    grid-template: repeat(24, 50px) / 1fr;
}

.day-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
}

.week-grid-tiles {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
}

.weekday-grid {
    display: grid;
    grid-template: repeat(24, 50px) / 1fr;
}

.monday-grid-tiles {
    grid-column: 1/ span 1;
}

.tuesday-grid-tiles {
    grid-column: 2 / span 1;
}

.wednesday-grid-tiles {
    grid-column: 3 / span 1;
}

.thursday-grid-tiles {
    grid-column: 4 / span 1;
}

.friday-grid-tiles {
    grid-column: 5 / span 1;
}

.saturday-grid-tiles {
    grid-column: 6 / span 1;
}

.sunday-grid-tiles {
    grid-column: 7 / span 1;
}

.checkbox-person {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkbox-event {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#sports {
    border: 2px solid #FF99B7;
}

#sports:checked {
    border: 2px solid #FF99B7;
    background-color: #FF99B7;
}

#work-school {
    border: 2px solid #AEC3FF;
}

#work-school:checked {
    border: 2px solid #AEC3FF;
    background-color: #AEC3FF;
}

#house {
    border: 2px solid #C6B9DF;
}

#house:checked {
    border: 2px solid #C6B9DF;
    background-color: #C6B9DF;
}

#social {
    border: 2px solid #82CD47;
}

#social:checked {
    border: 2px solid #82CD47;
    background-color: #82CD47;
}

#errands {
    border: 2px solid #FFEA20;
}

#errands:checked {
    border: 2px solid #FFEA20;
    background-color: #FFEA20;
}