@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat'), url(../fonts/static/Montserrat-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #E2ECEA;
    position: absolute;
    margin: 0 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.sidebar-nav {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px 20px;
    gap: 40px;
    float: right;
    width: 20%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
}

.new-event-form {
    position: fixed;
    top: 20%;
    right: 43%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #046380;
    background-color: #ffffff;
    padding: 2em 2em;
}

.user-add-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.user-icon-add-event {
    width: 50px;
    height: 50px;
    border: 2px solid #046380;
    border-radius: 50%;
    margin: 5px
}


.add-event-form-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

input {
    margin-left: 10px;
}

select {
    border: 1px solid #95bab3;
    border-radius: 3px;
    padding: .2rem;
    background: white;
    margin-left: 10px;
}

#btn-add-new-event {
    margin-top: 35px;
    margin-bottom: 5px;
}

main {
    width: 80%;
    height: 100%;
    float: left;
}

header {
    position: relative;
    padding: 10px 10px;
    z-index: 1;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
}

.just-header {
    height: 16%;
    border-radius: 5px;
}

.header-with-days-of-the-week {
    height: 19%;
    border-radius: 5px 5px 0 0;
}

.push-right-day {
    margin-right: 35%;
    margin-left: auto;
}

.push-right-week {
    margin-right: 30%;
    margin-left: auto;
}

.views-nav {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
}

.day-week-nav {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 5em;
    height: 2em;
    background: #FFFFFF;
    border: 1px solid #046380;
    color: #303030;
    cursor: pointer;
}

.day-week-nav:hover,
.day-week-nav:focus,
.day-week-nav:active {
    text-decoration: none;
    background-color: #046380;
    color: #FFFFFF;
    outline: none;
}

.active-view {
    text-decoration: none;
    background-color: #046380;
    color: #FFFFFF;
    outline: none;
}

.change-date {
    color: #303030;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#change-date-day {
    width: 25%;
}

#change-date-week {
    width: 35%;
}
.nav-arrows {
    color: #515151;
}

.nav-arrows:hover {
    color: #046380;
    transform: scale(1.1);
}

.day-with-date {
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.week-with-dates {
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    min-width: 30%;
    background: rgba(4, 99, 128, 0.95);
    color: #F7F7F5;
    border: 1px solid #046380;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

button:active,
button:focus,
button:hover {
    transform: scale(1.1);
    outline: none;
}

#create-new-event-button {
    width: 100px;
    height: 60px;
}

.calendar-with-timeline-container {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    height: 86%;
    display: grid;
    grid-template: 1fr / 1fr 17fr;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #E2ECEA  #FFFFFF;
}

.calendar-with-timeline-container::-webkit-scrollbar {
    width: 12px;
}

.calendar-with-timeline-container::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 0px 5px 5px 0px;
}

.calendar-with-timeline-container::-webkit-scrollbar-thumb {
    background-color: #E2ECEA;
    border-radius: 20px;
    border: 3px solid #FFFFFF;
}

.timeline {
    font-size: small;
    grid-column: 1 / span 1;
    display: grid;
    border-radius: 5px 0 5px 5px;
    background-color: #FFFFFF;
    grid-template: repeat(24, 100px) / 1fr;
}

.hour {
    color: #303030;
    box-sizing: border-box;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.day-grid-tiles {
    box-sizing: border-box;
    display: grid;
    grid-column: 2 / span 1;
}

.day-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0 5px 5px 0;
}

.day-break-line-container {
    display: grid;
    padding-top: 96px;
    grid-column: 2 / span 1;
    grid-template: repeat(24, 100px) / 1fr;
}

.day-break-line {
    width: 100%;
    height: 2px;
    background-color: #E2ECEA;
    border-radius: 15px;
}

.day-break-line-container, .day-grid-tiles {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.calendar-container {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 24fr;
}

.days-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 32px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
}

#week-view-days-of-the-week {
    padding-left: 55px;
}

.day-of-the-week {
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-grid-tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week-grid-tile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E2ECEA;
    border-left: 1px solid #E2ECEA;
    border-right: 1px solid #E2ECEA;
    border-radius: 5px;
}

.first-tile {
    border-top: none;
}

.weekday-grid {
    box-sizing: border-box;
    display: grid;
    grid-template: repeat(24, 100px) / 1fr;
}

.monday-grid-tiles {
    grid-column: 1/ span 1;
}

.tuesday-grid-tiles {
    grid-column: 2 / span 1;
}

.wednesday-grid-tiles {
    grid-column: 3 / span 1;
}

.thursday-grid-tiles {
    grid-column: 4 / span 1;
}

.friday-grid-tiles {
    grid-column: 5 / span 1;
}

.saturday-grid-tiles {
    grid-column: 6 / span 1;
}

.sunday-grid-tiles {
    grid-column: 7 / span 1;
}

.checkbox-person {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.events {
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkbox-event {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    margin: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.sports {
    border: 2px solid #FF99B7;
    background-color: rgba(255, 153, 183, 0.3);
}

.work-school {
    border: 2px solid #AEC3FF;
    background-color: rgba(174, 195, 255, 0.3);
}

.home {
    border: 2px solid #C6B9DF;
    background-color: rgba(198, 185, 223, 0.3);
}

.social {
    border: 2px solid #82CD47;
    background-color: rgba(130, 205, 71, 0.3);
}

.other {
    border: 2px solid #FFEA20;
    background-color: rgba(255, 234, 32, 0.3);
}

.sports:checked {
    border: 2px solid #FF99B7;
    background-color: #FF99B7;
}

.work-school:checked {
    border: 2px solid #AEC3FF;
    background-color: #AEC3FF;
}

.home:checked {
    border: 2px solid #C6B9DF;
    background-color: #C6B9DF;
}

.social:checked {
    border: 2px solid #82CD47;
    background-color: #82CD47;
}

.other:checked {
    border: 2px solid #FFEA20;
    background-color: #FFEA20;
}

/* event*/

.sports-event {
    width: 150px;
    height: 98px;
    background-color: rgba(255, 153, 183, 0.3);
    border-radius: 5px;
    display: flex;
}

.div-for-pic {
    width: 30px;
    height: 98px;
    background-color: #FF99B7;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture-for-event {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #046380;
}

.event-desc {
    display: grid;
    grid-template: 4fr 1fr / 1fr;
}

.event-name {
    grid-row: 1 / span 1;
    padding: 5px;
}

.event-time{
    grid-row: 2 / span 1;
    padding: 2px 5px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


