* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    min-width: 200vh;
    min-height: 100vh;
}

.login-left-side {
    box-sizing: border-box;
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8%;
    gap: 25%;
    background: #F7F7F5;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.login-right-side {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #046380;
    z-index: -1;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    width: 50vh;
}

.login-input {
    border: none;
    border-bottom: 2px solid #c3d8d4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
    outline: none;
    border-bottom-color: #95bab3;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    padding: 1vh;
    gap: 1vh;
}

button {
    box-sizing: border-box;
    width: 30px;
    height: 40px;
    min-width: 30%;
    background: rgba(4, 99, 128, 0.95);
    color: #F7F7F5;
    border: 1px solid #046380;
    border-radius: 4px;
    cursor: pointer;
}

button:active,
button:focus,
button:hover {
    transform: scale(1.1)
}

#sign-up-button {
    background: rgba(4, 99, 128, 0.0);
    color: rgba(4, 99, 128, 0.95);
    border: 1px solid rgba(4, 99, 128, 0.0);
}

.logo {
    width: 75%;
}

#dogs-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
}